/* Alinha os datatables na esquerda */
.datatables .display {margin-left: 0;}

/* Essa opção faz com q o picker input quando aberto tenha a mesma width do botão que o fez abrir. */
.dropdown-menu.open {width: inherit;}

/* Impede q o dropdown abra pra cima */
.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu  {top: 100%;bottom: 100%;margin-bottom: 2px;}

/* Define o tamanho mínimo do dropdown. Quando impeço ele de abrir pra cima, o tamanho mínimo fica zoado. */
.dropdown-menu.open {overflow: hidden;min-height: 248px;}

.dropdown-menu>li>a {padding: 0px 5px;}
